<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <div>在子页面开父页面的选项卡的使用步骤</div>
    <div>1.子页面先引入all.js</div>
    <div>2.子页面的js中使用 parent_tab(id,title,src);函数</div>
    <div>3.传入的三个参数分别为tab的id,标题,controller访问页面的地址</div>
</div>
<div>
    <div>在子页面关闭tab,并指定到新的tab</div>
    <div>1.子页面先引入all.js</div>
    <div>2.子页面的js中使用 close_tab(oldId,newId,title,src);函数</div>
    <div>3.传入的三个参数分别为要关闭的旧的tab的id(oldId),定位新的tab的id(newId),标题,controller访问页面的地址</div>
</div>
<div>
    <div>使用动态的下拉选择框</div>
    <div>1.页面需要引入all.js</div>
    <div>2.并使用以下的标签,css不可变,url为controller返回的数据列表的地址,selectedId为默认被选中的值,该属性用于修改</div>
    <div><select name="list3" lay-verify="required" class="decSelect"
                 url="" selectedId="${domain.xxx}"  >
        <option value="">请选择</option>

    </select></div>
</div>
<div>
    <div>使用输入框,匹配模糊</div>
    <div>1.页面需要引入all.js,plumen.js</div>
    <div>2.并使用以下的标签,class不可变,并且调用input_sel(src)传入controller地址</div>
    <div><div class="input-box input-Selector">
        <input type="text" class="wx-input layui-input">
    </div></div>
</div>
</body>
</html>