<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改详情</title>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
    <script src="/layui/layui.js" charset="utf-8"></script>
    <script src="/jquery/jquery-3.3.1.min.js"></script>
    <script src="/recruit/js/xm.js" type="text/javascript"></script>
</head>
<body>
<div id="modfollow">

    <form class="layui-form" action="" id="formdata"lay-filter="dataForm">
        <div class="layui-form-item">
            <label class="layui-form-label">跟进时间</label>
            <div class="layui-input-inline">
                <input type="text" name="followTime" required lay-verify="required" placeholder="请输入"
                       autocomplete="off" class="layui-input" id="date">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">意向</label>
            <div class="layui-inline" style="width: 190px">
                <div id="demo1" class="xm-select-demo" style=" width:190px";></div>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注:</label>
            <div class="layui-input-block">
                <textarea name="remark" placeholder="请输入内容"required lay-verify="required" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" type="button" lay-submit lay-filter="formDemo" id="butA"
                        value=${id}>立即提交
                </button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>