
 .star {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    line-height: 30px;
    font-size: 25px;
    color: #f00;
    float:right;
}